@import './text/text';
@import "./title/title";
@import "./range/range";
@import "./result/result";
@import "./close/close";
@import "./money/money";
@import "./diagrama/diagrama";
@import "./footer/footer";