.close
  &__reader-info
    position: relative
    width: 200px
    height: 200px
    border-radius: 50%
    background: #FFF6F8
    margin: 0 auto 
    display: flex
    align-items: flex-end
    justify-content: center

  &__bills
    position: absolute

    &_20
      position: absolute
      top: 62px
      left: 50px

    &_30
      position: absolute
      top: 32px
      left: 53px

    &_40
      position: absolute
      top: 32px
      left: 49px

    &_51
      position: absolute
      top: 31px
      left: 33px

    &_52
      position: absolute
      top: 31px
      left: 92px

    &_53
      position: absolute
      top: 12px
      left: 56px
  
  &__coins
    position: absolute

    &_10
      position: absolute
      top: 102px
      left: 74px

    &_20
      position: absolute
      top: 101px
      left: 108px

    &_30
      position: absolute
      top: 101px
      left: 111px

    &_40
      position: absolute
      top: 78px
      left: 107px

    &_51
      position: absolute
      top: 88px
      left: 84px

    &_52
      position: absolute
      top: 50px
      left: 114px

  &__close-value
    font-weight: 700
    font-size: 22px
    line-height: 26px
    color: #FE4D4A
    margin-bottom: 28px
  
  &__text
    text-align: center
    font-weight: 400
    font-size: 16px
    line-height: 19px
    margin-bottom: 10px
    margin-top: 9px

  &__diagrams
    display: flex
    justify-content: space-around
    margin: 0 20px